*
!addons/
!callback/
!.gitignore
!requirements.txt
!channels.json.example
!compress.py
!const.py.example
!getchat.py
!getjson.py
!getm3u8.py
!index.py
!live_download.py
!private_download.py
!text.py.example
!utils.py